@page "/home"
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary btn-lg" @onclick="@(() => { NavManager.NavigateTo("/makeappointment");})"><h2>Make an Appointment</h2></button>

