@page "/makeappointment";


<h2>MakeAppointment</h2>

@*Add Placeholder="Choose a Date Range" in below code when no value is set to DateTimePicker*@
<Syncfusion.Blazor.Calendars.SfDateTimePicker TValue="DateTime?" Value="@DateValue" Min="@MinDate" Max="@MaxDate">

</Syncfusion.Blazor.Calendars.SfDateTimePicker>


@code{
    public DateTime? DateValue {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,10);
    public DateTime MinDate {get;set;} = new DateTime(DateTime.Now.Year,DateTime.Now.Month,05);
    public DateTime MaxDate {get;set;} = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
}